@keyframes themeSwitch {
  0%, 100% {
    background: white;
    color: black;
  }
  50% {
    background: black;
    color: white;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(5);
  }
  50% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  animation: themeSwitch 20s infinite;
}

.all-container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 15px;
}

.circle {
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  animation: pulse 5s ease-in-out infinite, themeSwitch 20s infinite;
}

.processing {
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 13px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;
  animation: themeSwitch 20s infinite;
}

.creative {
  font-family: Arial;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: gray;
}

.company {
  font-family: Arial;
  font-size: 10px;
  display: flex;
  align-items: center;
  color: gray;
}

.circle:nth-child(2n) {
  animation-delay: 2s;
}

.circle:nth-child(3n) {
  animation-delay: .8s;
}

.circle:nth-child(4n) {
  animation-delay: 2.9s;
}

.circle:nth-child(5n) {
  animation-delay: 3.5s;
}

.circle:nth-child(6n) {
  animation-delay: 1.1s;
}

.circle:nth-child(7n) {
  animation-delay: 2.7s;
}

.circle:nth-child(8n) {
  animation-delay: 3.8s;
}

.circle:nth-child(9n) {
  animation-delay: 1.4s;
}

.circle:nth-child(10n) {
  animation-delay: .2s;
}
